{% extends 'blog/base.html' %}

{% comment %} 
{% if title %}
{% block title %}{{ title }}{% endblock %}
{% endif %}
{% endcomment %}

{% block content %}
    <h1 class="my-4">Blog   {% if category %}<span class="btn btn-light btn-md" style="cursor:auto">{{ category }}</span>{% endif %}</h1>
    {% if object_list.exists %}
        {% for p in object_list %}
            <!-- Blog Post -->
            <div class="card mb-4" id='blog-card-{{ p.pk }}'>
                {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
                {% else %}
                    <img
                        class="card-img-top"
                        src="http://picsum.photos/750/300/?random"
                        alt="Card image cap">
                {% endif %}
                <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image
                cap"> -->
                <div class="card-body">
                    {% if p.category%}
                    <span class="badge badge-pill badge-dark float-right">{{ p.category }}</span>
                    {% else %}
                    <span class="badge badge-pill badge-dark float-right">no category</span>
                    {% endif %}
                    <h2 class="card-title">{{ p.title }}</h2>
                    <p class="card-text">{{ p.content | truncatewords:50 }}</p>
                    
                    {% for tag in p.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">#{{ tag }} </a>
                    {% endfor %}
                    <br/>
                    <br/>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">Read More →</a>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">Read More →</a>
                </div>
                <div class="card-footer text-muted">
                    {{ p.create }}
                    <a href="#">{{ p.created }}
                        -
                        {{ p.author }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No Posts Yet.</h2>
    {% endif %}
{% endblock %}

</div>